name: Code CI

on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

concurrency:
  group: general-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

jobs:
  code-formatting:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    env:
      VFLAGS: -cc tcc
    steps:
    - name: Checkout V
      uses: actions/checkout@v2
      with:
        repository: vlang/v

    - uses: actions/checkout@v2
      with:
        path: vab

    - name: Build local v
      run: make -j4

    - name: Test code formatting
      run: |
        cd vab
        ../v test-fmt

    - name: Build vab
      run: ./v -g vab/vab.v

    - name: Test clean vab code
      run: |
        export VEXE=./v
        vab/vab test-cleancode vab

  ubuntu-latest-bootstrap:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      VAB_FLAGS: -v 3 --api 30 --build-tools 29.0.0
    steps:
    - name: Checkout V
      uses: actions/checkout@v2
      with:
        repository: vlang/v

    - uses: actions/checkout@v2
      with:
        path: vab

    - name: Build local v
      run: make -j4

    - name: Run tests
      run: ./v test vab

    - name: Build vab with -prod
      run: ./v -prod vab/vab.v

    - name: Build vab
      run: ./v -g vab/vab.v

    - name: Run 'vab --help'
      run: vab/vab --help

    - name: Ruin Android environment on purpose
      run: |
        sudo rm -fr /usr/local/lib/android

    - name: Run 'vab doctor'
      run: vab/vab doctor

    - name: Run 'vab install auto'
      run: |
        export ANDROID_SDK_ROOT="" # These are set in the CI by default
        export ANDROID_HOME=""
        export ANDROID_NDK_ROOT=""
        vab/vab install auto

    - name: Run vab doctor
      run: vab/vab doctor

    - name: Test vab complete
      run: |
        [ "$(vab/vab complete bash vab com)" = "COMPREPLY+=('complete')" ]

    - name: Setup env
      run: |
        mkdir apks

    - name: Build APK (Default) examples/sokol/particles
      run: |
        vab/vab examples/sokol/particles -o apks/particles.apk
        [ -f apks/particles.apk ]

        # Checks output inferring
        vab/vab examples/sokol/particles -o aabs/particles.aab
        [ -f aabs/particles.aab ]


  ubuntu-latest-build:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    env:
      VAB_FLAGS: -v 3 --api 30 --build-tools 29.0.0
    steps:
    - name: Checkout V
      uses: actions/checkout@v2
      with:
        repository: vlang/v

    - uses: actions/checkout@v2
      with:
        path: vab

    - name: Build local v
      run: make -j4

    - name: Run tests
      run: ./v test vab

    - name: Build vab with -prod
      run: ./v -prod vab/vab.v

    - name: Build vab
      run: ./v -g vab/vab.v

    - name: Run 'vab --help'
      run: vab/vab --help

    - name: Ruin Android environment on purpose
      run: |
        sudo rm -fr "$ANDROID_SDK_ROOT/platforms"

    - name: Run 'vab doctor'
      run: vab/vab doctor

    - name: Run 'vab install "platforms;android-21"'
      run: vab/vab install "platforms;android-21"

    - name: Run vab doctor
      run: vab/vab doctor

    - name: Setup env
      run: |
        mkdir apks
        mkdir aabs

    - name: Build APK (Default) examples/sokol/particles
      run: |
        vab/vab examples/sokol/particles -o apks/particles.apk
        [ -f apks/particles.apk ]

  #macos-latest-bootstrap:
    #runs-on: macOS-latest
    #timeout-minutes: 10
    #steps:
    #- name: Checkout V
      #uses: actions/checkout@v2
      #with:
        #repository: vlang/v

    #- uses: actions/checkout@v2
      #with:
        #path: vab

    #- name: Build local v
      #run: make -j4

    #- name: Run tests
      #run: ./v test vab

    #- name: Build vab with -prod
      #run: ./v -prod vab/vab.v

    #- name: Build vab
      #run: ./v -g vab/vab.v

    #- name: Run 'vab --help'
      #run: vab/vab --help

    #- name: Ruin Android environment on purpose
      #run: |
        #sudo rm -fr "$HOME/Library/Android"

    #- name: Run 'vab doctor'
      #run: |
        #export VEXE=./v
        #vab/vab doctor

    #- name: Run 'vab install auto'
      #run: |
        #export ANDROID_SDK_ROOT="" # These are set in the CI by default
        #export ANDROID_HOME=""
        #export ANDROID_NDK_ROOT=""
        #export VEXE=./v
        ## Sometimes this step fails in CI???
        ##vab/vab -v 3 install auto

    #- name: Run vab doctor
      #run: |
        #export VEXE=./v
        #vab/vab doctor

    #- name: Setup env
      #run: |
        #mkdir apks

    #- name: Build APK (Default) examples/sokol/particles
      #run: |
        #export VEXE=./v
        ##vab/vab -v 3 examples/sokol/particles -o apks/particles.apk

  windows-latest-build:
    runs-on: windows-latest
    timeout-minutes: 10
    env:
      VAB_FLAGS: -cg -v 3 --api 30
    steps:
    #- uses: actions/setup-java@v2
      #with:
        #distribution: 'adopt'
        #java-version: 11

    - name: Install V
      uses: vlang/setup-v@v1
      with:
        check-latest: true

    # TODO https://github.com/vlang/setup-v/issues
    - name: Checkout V examples
      uses: actions/checkout@v2
      with:
        repository: vlang/v
        path: v

    - uses: actions/checkout@v2
      with:
        path: vab

    - name: Checkout vab
      uses: actions/checkout@v2
      with:
        path: vab

    - name: Run tests
      run: v test vab

# TODO fails on Windows
#    - name: Build vab with -prod
#      run: v -prod vab/vab.v

    - name: Build vab
      run: v -g vab/vab.v

    - name: Run vab --help
      run: vab/vab --help

    - name: Install AAB dependencies
      run: |
        vab/vab install bundletool
        vab/vab install aapt2

    - name: Run vab doctor
      run: vab/vab doctor

    - name: Setup env
      run: |
        mkdir apks
        mkdir aabs

    - name: Build APK (Default) v/examples/sokol/particles
      run: |
        vab/vab v/examples/sokol/particles -o apks/particles.apk
        vab/vab v/examples/sokol/particles -o aabs/particles.aab
