name: Code CI

on:
  push:
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"

jobs:
  ubuntu:
    runs-on: ubuntu-18.04
    timeout-minutes: 30
    env:
      VAB_VROOT: $GITHUB_WORKSPACE/v
      VAB_VEXE: $GITHUB_WORKSPACE/v/v
    steps:
    - name: Checkout V
      uses: actions/checkout@v2
      with:
        repository: vlang/v
        path: v
    - uses: actions/checkout@v2
      with:
        path: vab
    - name: Build local v
      run: cd $VAB_VROOT; make -j4
    - name: Run tests
      run: ./v test vab
    - name: Build VAB
      run: ./v vab/vab.v
    - name: Build VAB with -prod
      run: ./v -prod vab/vab.v
    - name: Run vab --help
      run: vab/vab --help
    - name: ls GHWS
      run: ls -al $GITHUB_WORKSPACE && ls -al $VAB_VROOT
#    - name: ls -al android/sdk
#      run: ls -al /usr/local/lib/android/sdk
    - name: Run vab doctor
      run: VEXE=$VAB_VEXE vab/vab doctor
#    - name: Compile (defaults) examples/sokol/particles
#      run: VEXE=$VAB_VEXE vab/vab $VAB_VROOT/examples/sokol/particles

# JAVA_HOME_8_X64
# JAVA_HOME_11_X64
# JAVA_HOME_12_X64
#  macos:
#    runs-on: macOS-latest
#    timeout-minutes: 30
#    env:
      #VFLAGS: -cc clang
    #steps:
    #- uses: actions/checkout@v2
    #- name: Build V
      #run:  make -j4 && ./v -cg -cflags -Werror -o v cmd/v
    #- name: Run sanitizers
      #run: |
        #./v -o v2 cmd/v -cflags -fsanitize=undefined
        #UBSAN_OPTIONS=print_stacktrace=1:halt_on_error=1 ./v2 -o v.c cmd/v
    #- name: Build V using V
      #run:  ./v -o v2 cmd/v && ./v2 -o v3 cmd/v
    #- name: v self with -usecache
      #run: ./v -o v2 -usecache cmd/v
    #- name: Test symlink
      #run:  ./v symlink
